<div>
<ul>
    <li>1 - 19</li>
    <li>2 - Double</li>
    <li>3 - 18</li>
    <li>4 - Triple</li>
    <li>5 - 17</li>
    <li>6 - Sum of 41</li>
    <li>7 - 20</li>
    <li>8 - Bulls Eye</li>
</ul>
<span>Half is a game where the players take turns, sequentially aiming for designated targets (in green to the left). The current player throws 3 darts aiming for the target and adds the score to his previous sum. For example; 1 double and 1 single hit (and 1 miss) on 18 yields 54 points. 
    <br/><br/>Every round a player fails, with all 3 darts, to hit the current target their sum is halved, rounded up.<br/><br/>The aim for round #6 is to get a sum of 41, and all 3 darts MUST hit a target, meaning you can't hit for example Triple 7, Single 20 and miss the third.</span>
</div>
<h3>Max score is 1157 - Good Luck!</h3>