ng-select {
  width: 500px;
}

.btn {
  margin: 10px auto 10px auto;
}

#undobtn {
  padding: 1em 24px;
  margin: 10px auto 10px auto;
}

#lasttext {
  font-size: 0.5em;
}

#gameboard {
  display: none;
  grid-template-columns: auto 35%;
}

#dimmer {
  display: block;
  opacity: 0.8;
}

.dartboard {
  margin: 10px;
}

.boardarea:hover {
  cursor: pointer;
}

.gamereport {
  background: #0e3a5e;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  color: white;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.h3orange {
  color: #f58220;
}

.smallertext {
    font-size: 0.75em;
}

#playername {
  text-transform: uppercase;
  color: #f58220;
}

.counterspecial {
  color: greenyellow;
}

#results {
  text-align: center;
}
