<div id="selector">
  <ng-select
    width="500px"
    [(items)]="fullPlayerList"
    bindLabel="name"
    placeholder=""
    appendTo="body"
    multiple="true"
    [(ngModel)]="selected"
  >
  </ng-select>
  <br />
  <button class="btn" (click)="initGame()">PLAY</button>
</div>
<div class="fullscreen" id="gameboard">
  <div class="dartboard">
    <img src="./assets/images/dartboard.png" usemap="#image-map" />
    <map name="image-map">
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D20"
        title="D20"
        coords="274, 93, 305, 91, 340, 93, 338, 110, 306, 107, 276, 110"
        shape="poly"
      />
      <area
        (click)="dartThrown('S20')"
        target=""
        alt="S20"
        title="S20_1"
        coords="277, 112, 308, 109, 337, 112, 328, 172, 308, 170, 286, 172"
        shape="poly"
      />
      <area
        (click)="dartThrown('T20')"
        target=""
        alt="T20"
        title="T20"
        coords="287, 174, 307, 172, 328, 174, 327, 184, 307, 182, 288, 184"
        shape="poly"
      />
      <area
        (click)="dartThrown('S20')"
        target=""
        alt="S20"
        title="S20_2"
        coords="288, 185, 305, 184, 326, 185, 311, 283, 304, 283"
        shape="poly"
      />

      <area
        (click)="dartThrown('D19')"
        target=""
        alt="D19"
        title="D19"
        coords="207, 499, 214, 484, 242, 497, 270, 504, 269, 520, 235, 511"
        shape="poly"
      />
      <area
        (click)="dartThrown('S19')"
        target=""
        alt="S19_1"
        title="S19_1"
        coords="215, 482, 243, 429, 260, 436, 280, 442, 272, 501, 243, 494"
        shape="poly"
      />
      <area
        (click)="dartThrown('T19')"
        target=""
        alt="T19"
        title="T19"
        coords="248, 418, 265, 425, 283, 430, 281, 439, 261, 434, 244, 426"
        shape="poly"
      />
      <area
        (click)="dartThrown('S19')"
        target=""
        alt="S19_2"
        title="S19_2"
        coords="250, 416, 296, 325, 301, 328, 285, 429, 267, 423"
        shape="poly"
      />

      <area
        (click)="dartThrown('D18')"
        target=""
        alt="D18"
        title="D18"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('S18_1')"
        target=""
        alt="S18"
        title="S18"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('T18')"
        target=""
        alt="T18"
        title="T18"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D17')"
        target=""
        alt="D17"
        title="D17"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('S17_1')"
        target=""
        alt="S17"
        title="S17"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('T17')"
        target=""
        alt="T17"
        title="T17"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D16')"
        target=""
        alt="D16"
        title="D16"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('S16_1')"
        target=""
        alt="S16"
        title="S16"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('T20')"
        target=""
        alt="T16"
        title="T16"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D15')"
        target=""
        alt="D15"
        title="D15"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('S15_1')"
        target=""
        alt="S15"
        title="S15"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('T15')"
        target=""
        alt="T15"
        title="T15"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D14')"
        target=""
        alt="D14"
        title="D14"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('S14_1')"
        target=""
        alt="S14"
        title="S14"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('T14')"
        target=""
        alt="T14"
        title="T14"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D13')"
        target=""
        alt="D13"
        title="D13"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('S13_1')"
        target=""
        alt="S13"
        title="S13"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('T13')"
        target=""
        alt="T13"
        title="T13"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D12')"
        target=""
        alt="D12"
        title="D12"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('S12_1')"
        target=""
        alt="S12"
        title="S12"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('T12')"
        target=""
        alt="T12"
        title="T12"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D11')"
        target=""
        alt="D11"
        title="D11"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('S11_1')"
        target=""
        alt="S11"
        title="S11"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('T11')"
        target=""
        alt="T11"
        title="T11"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D10"
        title="D10"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S10"
        title="S10"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T10"
        title="T10"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D9"
        title="D9"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S9"
        title="S9"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T9"
        title="T9"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D8"
        title="D8"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S8"
        title="S8"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T8"
        title="T8"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D7"
        title="D7"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S7"
        title="S7"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T7"
        title="T7"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D6"
        title="D6"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S6"
        title="S6"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T6"
        title="T6"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D5"
        title="D5"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S5"
        title="S5"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T5"
        title="T5"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D4"
        title="D4"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S4"
        title="S4"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T4"
        title="T4"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D3"
        title="D3"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S3"
        title="D3"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T3"
        title="D3"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D2"
        title="D2"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S2"
        title="S2"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T2"
        title="T2"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="D1"
        title="D1"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="S1"
        title="D1"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="T1"
        title="D1"
        coords=""
        shape="poly"
      />

      <area
        (click)="dartThrown('D20')"
        target=""
        alt="B50"
        title="B50"
        coords=""
        shape="circle"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="R25"
        title="R25"
        coords=""
        shape="poly"
      />
      <area
        (click)="dartThrown('D20')"
        target=""
        alt="M0"
        title="M0"
        coords=""
        shape="rect"
      />
    </map>
  </div>
  <div class="gamereport">
    <div class="reportdata" id="playername">{{ currentPlayerNick }}</div>
    <div class="reportdata" id="round">Round: <span class="textspecial" id="counterspecial">{{ roundNo }}</span></div>
    <div class="reportdata" id="arrowcount"><span class="textspecial" id="counterspecial">{{ arrowsLeft }}</span> arrows left</div>
    <div class="reportdata" id="target">Target: <span class="textspecial" id="counterspecial">{{ currentTarget }}</span></div>
    <input type="submit" class="btn" value="Home" (click)="home()">
  </div>
</div>
