.col {
    // background: #0e3a5e;
    padding: .4em 1.3em;
    margin: .4em 1.3em;
    display: grid;   
    grid-template-columns: auto 31%; 
}

//-----------------CSS FOR POPUP WINDOW AND BUTTON -------------------//
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.button {
  background-color: #f58220;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
}

.removebtn { //moved to here for priority
    font-size: 0.75em;
    width: 75%;
    padding: 0;
    text-align: center;
}

.fixed {
    position: fixed;
    bottom: 23px;
    right: 28px;
    //width: 280px;
}

/* The popup form - hidden by default */
// .fullscreen{
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background: #142f45;
// }

#dimmer {
  display: none;
  opacity: 0.8;
}

.form-popup {
  width: 600px;
  display: none;
  position: fixed;
  bottom: 100px;
  right: 50px;
  background: #0e3a5e;
  opacity: 1.0;
}

/* Add styles to the form container */
.form-container {
  max-width: 80%;
  margin: 0 auto 0 auto;
  padding: 10px;
  background-color: #0e3a5e;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #727783;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: whitesmoke;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #f58220;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #f3f2f5;
  color: black;
}