.container {
    display: grid;
    grid-template-columns: auto 25%;
    border-radius: 5px;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #142f45;
}
.color-light {
    background: #0e3a5e;
}